.app {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
}

dl {
  display: flex;
  margin: 0.5em 0;
}
dt {
  flex-basis: 40%;
}
