.market {
  border-radius: 4px;
  background-color: #eee;
  padding: 10px 20px;
  margin: 0 10px;
}

.new-orders__create-form {
  display: flex;
  flex-direction: column;
}


.order-list {
  padding: 20px 0;
  list-style: none;
}

.order-item:not(:last-child) {
  border-bottom: 1px solid #888;
}
.order-item dl {
  display: flex;
  margin: 0.5em 0;
}
.order-item dt {
  flex-basis: 20%;
}
